<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edamam</key>
	<string>9fc9aa11e5c9b8fadb6dc7ad82689878</string>
	<key>edamamId</key>
	<string>74964560</string>
</dict>
</plist>
